{
  "kind": "Pod",
  "apiVersion": "v1",
  "metadata": {
    "name": "kube-controller-manager",
    "namespace": "kube-system"
  },
  "spec": {
    "hostNetwork": true,
    "containers": [
      {
        "name": "kube-controller-manager",
        "image": "k8s.gcr.io/hyperkube:v{{ kube_version }}",
        "command": [
          "/hyperkube",
          "controller-manager",
          "--allocate-node-cidrs",
          "--bind-address={{ kube_controller_manager_listen_ip }}",
          "--cluster-cidr={{ kube_pod_cidr_range }}",
          "--service-account-private-key-file={{ kube_apiserver_key }}",
          "--master=127.0.0.1:8080",
          "--root-ca-file={{ kube_apiserver_ca_cert }}"
        ],
        "volumeMounts": [
          {
            "name": "certdir",
            "mountPath": "{{ kube_cert_dir }}",
            "readOnly": true
          },
          {
            "name": "varlog",
            "mountPath": "/var/log"
          }
        ],
        "livenessProbe": {
          "httpGet": {
            "scheme": "HTTP",
            "host": "127.0.0.1",
            "port": 10252,
            "path": "/healthz"
          },
          "initialDelaySeconds": 15,
          "timeoutSeconds": 15
        }
      }
    ],
    "volumes": [
      {
        "name": "certdir",
        "hostPath": {
          "path": "{{ kube_cert_dir }}"
        }
      },
      {
        "name": "varlog",
        "hostPath": {
          "path": "/var/log"
        }
      }
    ]
  }
}
