apiVersion: v1
kind: Config
users:
- name: kube-proxy
  user:
    client-certificate: {{ kube_cert }}
    client-key: {{ kube_key }}
clusters:
- name: local
  cluster:
    certificate-authority: {{ kube_ca_cert }}
    server: {{ kube_apiserver_url }}
contexts:
- context:
    cluster: local
    user: kube-proxy
  name: service-account-context
current-context: service-account-context
